<body>

    {{!-- <form action="/message" method="post">
        <input type="text" name="messageBody">
        <button type="submit"></button>
    </form> --}}

    <form action="/node-mongodb-mongoose-user" method="post">
        <input type="text" name="emailBody">
        <button type="submit">Enviar</button>
    </form>


    <h1>Dados recuperados</h1>
    {{ firstNameV }}
    {{ lastNameV }}
    {{ passwordV }}
    {{ emailV }}
    {{ messagesV }}
</body>